<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"></html>
  <head th:replace="fragment/common :: head('English')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet">
    <title>English</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragment/common :: menu('english')">
    <!-- <a class="navbar-brand" href="#">Spring Boot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">English</a>
        </li>
    </div> -->
    </nav>
    
    <div class="container">
      <h5>English</h5>
      <div>Total rows: <span th:text="${englishs.totalElements}"></span></div>
      <form class="form-inline d-flex justify-content-end" method="GET" th:action="@{/english/list}">
        <div class="form-group mx-sm-3 mb-2">
          <label for="searchText" class="sr-only">Search</label>
          <input type="text" class="form-control" id="searchText" name="searchText" 
          th:value="${param.searchText}">
        </div>
        <button type="submit" class="btn btn-secondary mb-2">Search</button>
      </form>
      <table class="table table-sm table-striped">
        <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">English</th>
          <th scope="col">Korean</th>
          <th scope="col">Remark</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="english : ${englishs}">
          <th th:text="${english.id}">1</th>
          <td><a th:text="${english.englishtext}" th:href="@{/english/form(id=${english.id})}">English</a></td>
          <td th:text="${english.korean}">Korean</td>
          <td th:text="${english.remark}">Remark</td>
        </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${1 == englishs.pageable.pageNumber+1} ? 'disabled'">
            <a class="page-link" href="#" th:href="@{/english/list(page=${englishs.pageable.pageNumber-1},searchText=${param.searchText})}" 
            tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item" th:classappend="${i == englishs.pageable.pageNumber+1} ? 'disabled'" 
          th:each="i: ${#numbers.sequence(startPage, endPage)}">
            <a class="page-link" href="#" th:href="@{/english/list(page=${i-1},searchText=${param.searchText})}" 
            th:text="${i}">1</a></li>
          <li class="page-item" th:classappend="${englishs.totalPages == englishs.pageable.pageNumber+1} ? 'disabled'">
            <a class="page-link" href="#" th:href="@{/english/list(page=${englishs.pageable.pageNumber+1},searchText=${param.searchText})}">Next</a>
          </li>
        </ul>
      </nav>
      <div class="text-right">
        <a type="button" class="btn btn-primary" th:href="@{/english/form}">New</a>
      </div>
    </div>
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>